:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

section {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  width: 250px;
}

a img {
  width: 50px;
}

p {
  margin: 0px;
}

h2 {
  margin-bottom: 0px;
}

